#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define NUMBER 1
#define SYMBOL 2



/ {
    keymap {
        compatible = "zmk,keymap";

// ----------------------------------------------------------------------------------------------------
//           |  esc     |   Q     |   W     |   E     |   R     |   T   |          |   Y      |   U    |   I      |   O    |   P      |   bs   | 
//           |  tab     |   A     |   S     |   D     |   F     |   G   |          |   H      |   J    |   K      |   L    |   ;      |   '    |
//           | LSHIFT   |   Z     |   X     |   C     |   V     |   B   |          |   N      |   M    |   ,      |   .    |   /      | RSHIFT |
//           |          |         |         | ctrl    | space   |  sym  |          |  num     |  alt   |          |        |          |        |

        default_layer {
            bindings = <
                &kp ESC    &kp Q     &kp W    &kp E     &kp R     &kp T             &kp Y      &kp U    &kp I     &kp O     &kp P     &kp BSPC
                &kp TAB    &kp A     &kp S    &kp D     &kp F     &kp G             &kp H      &kp J    &kp K     &kp L     &kp SEMI  &kp APOS
                &kp LSHFT  &kp Z     &kp X    &kp C     &kp V     &kp B             &kp N      &kp M    &kp COMMA &kp DOT   &kp SLASH &kp RSHFT
                &none      &none     &none    &kp LCTRL &kp SPACE &mo SYMBOL        &mo NUMBER &kp LALT &none     &none     &none     &none
            >;
        };

// ----------------------------------------------------------------------------------------------------
//           |  esc     |   Q     |   W     |   E     |   R     |   T   |          |   Y      |   U    |   I      |   O    |   P      |   bs   | 
//           |  tab     |   A     |   S     |   D     |   F     |   G   |          |   H      |   J    |   K      |   L    |   ;      |   '    |
//           | LSHIFT   |   Z     |   X     |   C     |   V     |   B   |          |   N      |   M    |   ,      |   .    |   /      | RSHIFT |
//           |          |         |         | ctrl    | space   |  sym  |          |  num     |  alt   |          |        |          |        |

        number_layer {
            bindings = <
                &kp ESC    &kp N1    &kp N2  &kp N3       &kp N4    &kp N5            &kp N6     &kp N7          &kp N8         &kp N9          &kp N0    &kp DEL
                &none      &none     &none   &kp PG_UP    &none     &none             &none      &mkp LCLK       &mmv MOVE_UP   &mkp RCLK       &none     &none
                &kp LSHFT  &none     &none   &kp PG_DN    &none     &none             &none      &mmv MOVE_LEFT  &mmv MOVE_DOWN &mmv MOVE_RIGHT &none     &kp RSHFT
                &none      &none     &none   &kp LCTRL    &kp SPACE &none             &trans     &kp LALT        &none          &none           &none     &none
            >;
        };

        symbol_layer {
            bindings = <
                &kp ESC    &bt BT_CLR  &bt BT_PRV &bt BT_NXT &kp F4     &kp F5            &kp LBKT     &kp RBKT   &kp MINUS &kp EQUAL  &kp BSLH  &kp DEL
                &kp CAPS   &none       &none      &none      &none      &none             &kp C_VOL_UP &kp C_PREV &kp UP    &kp C_NEXT &none     &kp ENTER
                &kp LSHFT  &bootloader &none      &none      &none      &kp LGUI          &kp C_VOL_DN &kp LEFT   &kp DOWN  &kp RIGHT  &none     &kp RSHFT
                &none      &none       &none      &kp LCTRL  &kp SPACE  &trans            &kp C_PP     &kp LALT   &none     &none      &none     &none
            >;
        };


    };

  
};

&nice_view_spi {
    cs-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
};